main {
    flex: 1;
    /* padding-left: 20px; */
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

@media (max-width: 700px){
    main {
        width: 100%;
    }
    main ul{
        grid-template-columns: 1fr;
    }
}